article {
  position: absolute;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
  top: 300px;
  // bottom: 0;
  > h1 {
    color: #0F1F3D;
    font-size: 2.3em;
  }
}
