html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  width: 100%;
  max-width: 900px;
  margin: 0;
  background-color: #FFFFFF;
  font-family: $content_font;
  color: $text_dark;
  font-size: 18px;
}
