html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  // position: absolute;
  width: 100%;
  max-width: 900px;
  margin: 0;
  background-color: #FFFFFF;
  font-family: $content_font;
  color: $text_dark;
  font-size: 18px;
}
// main {
//   display: flex;
//   height: 100%;
//   padding-bottom: 100px;
//   margin-left: auto;
//   margin-right: auto;
// }
