html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: inherit;
  height: 100%;
  max-width: 900px;
  margin: 0;
  background-color: #FFFFFF;
  font-family: $content_font;
  color: $text_dark;
  font-size: 18px;
}
main {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}
