html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  width: 100%;
  max-width: 900px;
  margin: 0;
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
  color: #181818;
  font-size: 18px; }

.article {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  max-width: 700px;
  width: 80%; }
  .article > h1 {
    color: #053352;
    font-size: 2.3em;
    margin-bottom: 5px; }
  .article > a {
    color: #989898; }
  .article > p {
    line-height: 27px;
    margin-top: 25px; }
    .article > p > a {
      color: #7e7e7e; }

blockquote {
  font-size: 1.5em;
  color: #106DB3;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc; }

.article__options {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0; }
  .article__options > li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #808080;
    font-size: 1.5em;
    color: #FFFFFF; }
    .article__options > li > a {
      color: inherit;
      text-decoration: none; }
    .article__options > li:hover {
      background-color: #053352; }

.header__background {
  top: 0;
  bottom: 0;
  width: 100%;
  height: 260px;
  background-image: url("./images/nestle.jpg");
  background-size: cover;
  background-position: 50% 50%; }

.header__overlay {
  background: rgba(23, 107, 175, 0.7);
  text-align: center;
  opacity: 1;
  width: 100%;
  height: 100%; }
  .header__overlay > h1 {
    color: #FFFFFF;
    font: "Muli", sans-serif;
    font-size: 2em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px; }
  .header__overlay > p {
    font-size: .8em;
    margin: 5px;
    color: #042C46;
    font-weight: bold; }

nav {
  padding-top: 10px;
  padding-bottom: 10px; }

.header__nav {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0; }
  .header__nav > li {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    color: #042C46; }
  .header__nav > li > a {
    color: inherit;
    text-decoration: none; }
  .header__nav > li > a:hover {
    color: #CCCCCC;
    border-bottom: solid 2px #CCCCCC; }

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #053352;
  color: #cccccc;
  font-size: .8em;
  text-align: center; }
  .footer > img {
    width: 50px;
    margin: 2px; }

.footer__nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0; }
  .footer__nav > li {
    display: inline-block;
    padding: 5px;
    font-size: 1em;
    line-height: 1.2em;
    color: #CCCCCC; }
  .footer__nav > li > a {
    color: inherit;
    text-decoration: none; }
  .footer__nav > li > a:hover {
    color: #FFFFFF;
    border-bottom: solid 1px #FFFFFF; }

.author__info {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  max-width: 700px;
  width: 80%;
  text-align: center; }
  .author__info > h1 {
    font-size: 1.5em;
    color: #106DB3;
    margin-top: 10px;
    margin-bottom: 0; }

.author__pic {
  background-image: url("./images/dandysir.jpg");
  background-size: cover;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%; }

.author__picOverlay {
  background: rgba(23, 107, 175, 0.5);
  text-align: center;
  opacity: 1;
  width: 100%;
  min-height: 100%;
  border-radius: 100%; }
  .author__picOverlay:hover {
    opacity: 0; }

.author__links {
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0; }
  .author__links > li {
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    color: #CCCCCC; }
  .author__links > li > a {
    color: inherit;
    text-decoration: none; }
  .author__links > li > a:hover {
    color: #042C46;
    border-bottom: solid 2px #042C46; }

.pop__postsHeader {
  border-top: 2px solid #cccccc;
  text-align: center; }
  .pop__postsHeader > h1 {
    color: #053352;
    font-size: 2.3em;
    margin-bottom: 5px; }

.pop__posts {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  max-width: 700px;
  width: 80%; }

.pop__postsImage {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto; }

.pop__postsBody {
  background: rgba(23, 107, 175, 0.5);
  bottom: 0;
  color: white;
  left: 0;
  opacity: 1;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 280px;
  min-height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .pop__postsBody > h2 {
    position: absolute;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-top: 60px; }
  .pop__postsBody:hover {
    opacity: 0; }

.ad {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
  max-width: 700px;
  width: 80%; }

.ad__image {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto; }

.ad__body {
  background: rgba(23, 107, 175, 0.5);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  min-height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.ad__body:hover {
  opacity: 0; }

.ad__link {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: right; }
  .ad__link > a {
    color: #7e7e7e;
    font-size: .8em; }

/*# sourceMappingURL=main.css.map */
